# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

debug/
release/
na_containers/debug
na_containers/release

*.sdf
*.opensdf
lib/
projects/msvc/na_containers/na_containers.v11.suo
